<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceEmpleadoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceEmpleadoSoap1" />
                <binding name="WebServiceTipoProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceTipoProductoSoap1" />
                <binding name="WebServiceBodegaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBodegaSoap1" />
                <binding name="WebServiceEntradaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceEntradaSoap1" />
                <binding name="WebServiceProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProductoSoap1" />
                <binding name="WebServiceProveedorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProveedorSoap1" />
                <binding name="WebServiceSucursalSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceSucursalSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44368/WebServiceEmpleado.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceEmpleadoSoap"
                contract="ServiceEmpleado.WebServiceEmpleadoSoap" name="WebServiceEmpleadoSoap" />
            <endpoint address="https://localhost:44368/WebServiceTipoProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTipoProductoSoap"
                contract="ServiceTipoProducto.WebServiceTipoProductoSoap"
                name="WebServiceTipoProductoSoap" />
            <endpoint address="https://localhost:44368/WebServiceBodega.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBodegaSoap"
                contract="ServiceBodega.WebServiceBodegaSoap" name="WebServiceBodegaSoap" />
            <endpoint address="https://localhost:44368/WebServiceEntrada.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceEntradaSoap"
                contract="ServiceEntrada.WebServiceEntradaSoap" name="WebServiceEntradaSoap" />
            <endpoint address="https://localhost:44368/WebServiceProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProductoSoap"
                contract="ServiceProducto.WebServiceProductoSoap" name="WebServiceProductoSoap" />
            <endpoint address="https://localhost:44368/WebServiceProveedor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProveedorSoap"
                contract="ServiceProveedor.WebServiceProveedorSoap" name="WebServiceProveedorSoap" />
            <endpoint address="https://localhost:44368/WebServiceSucursal.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSucursalSoap"
                contract="ServiceSucursal.WebServiceSucursalSoap" name="WebServiceSucursalSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
